@charset "utf-8";
/* CSS Document */
body {
	font-family: 'Black Ops One', cursive;
	background-color: #C7FFFA;	
}
/* Use a different font family for search results */
    .gs-title, .gs-snippet {
        font-family: Times Georgia, Times, serif;
    }
    
    /* Add a border between individual search results */
    .gs-webResult {
        border: 1px solid #eee;
        padding: 1em;
    }
    
    /* Do no display the count of search results */    
    .gsc-result-info {
        display: none;
    }
    
    /* Hide the Google branding in search results */
    .gcsc-branding {
        display: none; 
    }
    
    /* Hide the thumbnail images in search results */
    .gsc-thumbnail {
        display: none;
    }
    
    /* Hide the snippets in Google search results */
    .gs-snippet { 
        display: none;
    }
    
    /* Change the font size of the title of search results */
    .gs-title a { 
        font-size: 16px;  
    }
    
    /* Change the font size of snippets inside search results */
    .gs-snippet {
        font-size: 14px;
    }
    
    /* Google Custom Search highlights matching words in bold, toggle that */
    .gs-title b, .gs-snippet b {
        font-weight: normal;
    }
    
    /* Do no display the URL of web pages in search results */
    .gsc-url-top, .gsc-url-bottom {
        display: none;
    }
    
    /* Highlight the pagination buttons at the bottom of search results */
    .gsc-cursor-page {
        font-size: 1.5em;
        padding: 4px 8px;
        border: 2px solid #ccc;
    }